.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: silver;
    min-height: 100vh;
}

.hello-world {
    color: purple;
}

.text{
    color:whitesmoke;
}